<a href="https://colab.research.google.com/github/Steve-YJ/Python-Algorithm/blob/main/Ch03_%EA%B7%B8%EB%A6%AC%EB%94%94_%EC%8B%A4%EC%A0%844)_1%EC%9D%B4_%EB%90%A0_%EB%95%8C%EA%B9%8C%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch03. 그리디 - 실전4) 1이 될 때까

## 1. 스스로 풀어보기

💡 아이디어
* 가능하면 수로 먼저 나눠주자!

In [1]:
n, k = map(int, input().split())
print(n, k)

25 5
25 5

In [5]:
count = 0  # 최소 횟수 저장

while True:
    if n == 1:
        print(count)
        break 

    if n % k == 0:
        n /= k
        count += 1
    else:
        n -= 1
        count += 1

2

함수로 만들

In [11]:
def answer():
    # n, k  초기화
    n, k = map(int, input().split())
    count = 0  # 최소 횟수 저장

    while True:
        if n == 1:
            return count

        if n % k == 0:
            n //= k
            count += 1
        else:
            n -= 1
            count += 1

In [12]:
answer()

25 3

6

## 2. 책 풀이 복기

단순하게 푸는 답안 예시

In [15]:
n, k = map(int, input().split())
result = 0

# N이 K 이상이라면 K로 계속 나누기
while n >= k:
    # N이 K로 나누어 떨어지지 않는다면 N에서 1 빼기
    while n % k != 0:
        n -= 1
        result +=1
    # N이 K로 나누어진다면 K로 나누기
    n //= k
    result += 1

# 마지막으로 남은 수에 대하여 1씩 빼기
while n > 1:
    n -= 1
    result += 1
print(result)

25 3
6

In [19]:
# N, K를 공백으로 구분하여 입력 받기
n, k = map(int, input().split())
result = 0

while True:
    # (N == K로 나누어 떨어지는 수)가 1이 될 때까지 1씩 빼기
    target = (n // k) * k  # n을 k로 나누었을 때 몫에 k를 곱해준다
    result += (n - target)
    n = target
    # N이 K보다 작을 떄(더 이상 나눌 수 없을 떄) 반복문 탈출
    if n < k:
        break
    # K로 나누기
    result += 1
    n //= k


# 마지막으로 남은 수에 대하여 1씩 빼기
result += (n - 1)
print(result)

25 3
6

직관적이지 않다...