<a href="https://colab.research.google.com/github/Steve-YJ/Python-Algorithm/blob/main/Ch04_%EA%B5%AC%ED%98%84_%EC%8B%A4%EC%A0%84%EB%AC%B8%EC%A0%9C_%EC%99%95%EC%8B%A4%EC%9D%98_%EB%82%98%EC%9D%B4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch04. 구현 실전문제_왕실의 나이트
* 시간재서 풀어보자
*

In [11]:
# 우선 초기화를 해보자
map = [[str(i+1)+char for char in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']]for i in range(0, 8)]
map
# 나이트의 현재 위치에서 이동할 수 있는 경우의 수를 구하여라

[['1a', '1b', '1c', '1d', '1e', '1f', '1g', '1h'],
 ['2a', '2b', '2c', '2d', '2e', '2f', '2g', '2h'],
 ['3a', '3b', '3c', '3d', '3e', '3f', '3g', '3h'],
 ['4a', '4b', '4c', '4d', '4e', '4f', '4g', '4h'],
 ['5a', '5b', '5c', '5d', '5e', '5f', '5g', '5h'],
 ['6a', '6b', '6c', '6d', '6e', '6f', '6g', '6h'],
 ['7a', '7b', '7c', '7d', '7e', '7f', '7g', '7h'],
 ['8a', '8b', '8c', '8d', '8e', '8f', '8g', '8h']]

In [27]:
# start
start = str(input())
print("start: ", start)
 
x = start[0]  # 1
y = start[1]  # a
dic = {'a': 1,
       'b': 2,
       'c': 3,
       'd': 4,
       'e': 5,
       'f': 6,
       'g': 7,
       'h':8}
y = dic[y]   # 1

# 좌표 계산의 편의성을 위해 숫자 좌표로 변환해 줬습니다
x, y = int(x), int(y)
print("start: ", x, y)


# count
count = 0  # 카운트를 하면 됩니다

# 팔방으로 이동하기(그려보니 이동할 수 있는 경우의 수는 여덟가지!)
dx = [2,  2,  1, -1, -2, -2,  -1,  1]
dy = [-1, 1,  2,  2,  1,  -1, -2, -2]

for i in range(8):
    nx = x + dx[i]
    ny = y + dy[i]
    if nx > 8 or nx < 1 or ny > 8 or ny < 1:
        pass
    else:
        print(nx, ny)
        count +=1

print(count)

2c
start:  2c
start:  2 3
4 2
4 4
3 5
1 5
1 1
3 1
6

굳...! 배우니깐 조금씩 된다...ㅠㅠ -20.12.02.Wed. pm6:00-