<a href="https://colab.research.google.com/github/Steve-YJ/Python-Algorithm/blob/main/Q32_%EC%A0%95%EC%88%98_%EC%82%BC%EA%B0%81%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정수 삼각형

문제
         7
      3   8
    8   1   0
  2   7   4   4
4   5   2   6   5

위 그림은 크기가 5인 정수 삼각형의 한 모습이다.<br>


맨 위층 7부터 시작해서 아래에 있는 수 중 하나를 선택하여 아래층으로 내려올 때, 이제까지 선택된 수의 합이 최대가 되는 경로를 구하는 프로그램을 작성하라. 아래층에 있는 수는 현재 층에서 선택된 수의 대각선 왼쪽 또는 대각선 오른쪽에 있는 것 중에서만 선택할 수 있다.

삼각형의 크기는 1 이상 500 이하이다. 삼각형을 이루고 있는 각 수는 모두 정수이며, 범위는 0 이상 9999 이하이다.
<br>



입력<br>
첫째 줄에 삼각형의 크기 n(1 ≤ n ≤ 500)이 주어지고, 둘째 줄부터 n+1번째 줄까지 정수 삼각형이 주어진다.


출력<br>
첫째 줄에 합이 최대가 되는 경로에 있는 수의 합을 출력한다.

예제 입력1


5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5

In [13]:
n = int(input())
dp = [list(map(int, input().split())) for i in range(n)]  # make dp table

for i in range(1, n):
    for j in range(len(dp[i])):
        if j == 0:
            dp[i][j] += dp[i-1][j]
        elif j == len(dp[i]) - 1:
            dp[i][j] += dp[i-1][j-1]
        else:
            dp[i][j] += max(dp[i-1][j-1], dp[i-1][j])

print(max(dp[n-1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5
30

In [15]:
n = int(input())
dp = [list(map(int, input().split())) for i in range(n)]  # make dp table

# memoization? (from top to bottom)
for i in range(1, n):
    for j in range(len(dp[i])):
        if j == 0:  # 맨 앞의 값
            dp[i][j] += dp[i-1][j]
        elif j == len(dp[i])-1:  # 맨 뒤의 값
            dp[i][j] += dp[i-1][j-1]
        else:
            dp[i][j] += max(dp[i-1][j-1], dp[i-1][j])

print("Answer: ", max(dp[n-1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5
Answer:  30