<a href="https://colab.research.google.com/github/Steve-YJ/Python-Algorithm/blob/main/Ch04_%EA%B5%AC%ED%98%84_%EC%98%88%EC%A0%9C_4_2)_%EC%8B%9C%EA%B0%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch04. 구현. 예제 4-2) 시각

## 1. 스스로 풀어보기
* 정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 경우의 수를 구하는 프로그램을 작성하시

In [6]:
# count
n = int(input())
count = 0

for hour in range(0, n+1):
    for min in range(0, 60):
        for sec in range(0, 60):
            time = str(hour)+str(min)+str(sec)
            # print(time)
            if '3' in time:
                # print(time)
                count+=1

print(count)

5
11475

무려 삼중 반복문으로 clear...!<br>
이걸 좋아해야할지 말지 참...ㅎㅎ - 20.12.02.Tue. pm5:30-

💡 나의 아이디어<br>
시간을 00 00 00에서 1씩 증가시켰을 때, 3이 포함되는지 카운트한다<br>
여기서 드는 의문은... 과연 이 알고리즘이 효율적인가?!

## 2. 책 풀이 복기
문제를 풀고도 찝찝한 면이 있었는데 문제 풀이를 통해 해결할 수 있었다. 내가 사용한 방식은 Brute-Forcing(완전 탐색)인데 전체 시간에 대한 경우의 수가 86,400으로 십만개도 안되기 때문에 완전 탐색으로 풀어도 해결이 가능하다고 한다. 

* 완전 탐색에 대해 알아보면
    * 가능한 모든 경우의 수를 검사해보는 탐색 방법이다
    * 완전 탐색 유형의 문제는 구현이 중요한 대표적인 문제이다
    * 일반적으로 완전 탐색 알고리즘은 비효율적인 시간 복잡도를 가지고 있기 때문에 데이터 개수가 큰 경우에는 정상적으로 동작하지 않을 수 있다
    * ✅ 따라서 전체 데이터의 개수가 <code>100만개 이하</code>일 때 완전 탐색을 사용하면 적절하다고 한다

마지막으로 조금은 더 파이써닉한 책의 코드로 문제를 풀어보

In [9]:
# H를 입력받는다
h = int(input())

count = 0  # 3이 적어도 한 개 포함된다면 카운트를 해준다

for i in range(0, h + 1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i)+str(j)+str(k):  # '3'이 적어도 하나 포함되어 있다면 카운팅해라
                count += 1 

print(count)

5
11475