<a href="https://colab.research.google.com/github/Steve-YJ/Python-Algorithm/blob/main/Ch06_%EC%A0%95%EB%A0%AC_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%8B%A4%EC%A0%84%EB%AC%B8%EC%A0%9C(%EB%8B%A4%EC%8B%9C%ED%92%80%EC%96%B4%EB%B3%B4%EB%8A%94_%EC%8B%A4%EC%A0%84_%EB%AC%B8%EC%A0%9C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 이.코.테 정렬 알고리즘 실전 문제
* 오전에 두 문제만 풀어도 하루를 산뜻하게 출발! -20.12.24.Thur-

## 문제 1. 위에서 아래로
* 유형 1. 정렬 라이브러리를 사용할 수 있는가

In [7]:
# n 입력 받기
n = int(input())
# n개의 수 입력 받기
lst = [int(input()) for i in range(n)]

lst.sort(reverse=True)
for elem in lst:
    print(elem, end=' ')

3
15
27
12
27 15 12

시간 복잡도는... O(**NlongN**)?<br>
정렬 라이브러리는 항상 최악의 경우에도 시간 복잡도 O(NlogN)을 보장한다

## 문제 2. 성적이 낮은 순서로 학생 출력하기'
* 유형 2.

In [25]:
# n 입력 받기
n = int(input())
# 학생 이름과 성적 입력받기
array = [(input().split()) for i in range(n)]

def selection(elem):
    return elem[1]

# sort list with key
sorted_list = sorted(array, key=selection)

# 이름만 출력
for elem in sorted_list:
    print(elem[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [27]:
# 6-11.py 답안 예시

# N을 입력 받기
n= int(input())

# N명의 학생 정보를 입력 받아 리스트에 저장하기
array = []  # array를 먼저 선언하고
for i in range(n):
    input_data = input().split()
    # 이름은 문자열 그대로, 점수는 정수형으로 변환하여 저장
    array.append((input_data[0], input_data[1]))

# 키(Key)를 이용하여, 점수를 기준으로 정렬
answers = sorted(array, key=lambda student: student[1])  # lambda 문법은 이렇게 활용하는 거구나!

# 정렬이 수행된 결과 출력
for student in array:
    print(student[0], end=' ')

2
이순신 95
홍길동 75
이순신 홍길동

## 문제3. 두 배열의 원소 교체
* 입력 조건
    * 첫 번째 줄에 N, K가 공백으로 구분되어 입력된다
    * 두 번째 줄에 배열 A의 원소들이 공백으로 구분되어 입력된다. 모든 원소는 10,000,000보다 작은 자연수이다
    * 세 번째 줄에 배열 B의 원소들이 공백으로 구분되어 입력된다. 모든 원소는 10,000,000보다 작은 자연수이다
* 출력 조건
    * 최대 K번의 바꿔치기 연산을 수행하여 만들 수 있는 배열 A의 모든 원소의 합의 최댓값을 출력한다.

In [32]:
n, k = map(int, input().split())

a = list(map(int, input().split()))
b = list(map(int, input().split()))
sorted_a = sorted(a)
sorted_b = sorted(b, reverse=True)

# 첫 번째 인덱스부터 k번 비교
for i in range(k):
    # a의 가장 작은 값과 b의 가장 큰 값을 스왑
    sorted_a[i], sorted_b[i] = sorted_b[i], sorted_a[i]

# 리스트 a의 합 반환
print(sum(sorted_a))

5 3
1 2 5 4 3
5 5 6 6 5
26

In [33]:
n, k = map(int, input().split())

a = list(map(int, input().split()))
b = list(map(int, input().split()))
sorted_a = sorted(a)
sorted_b = sorted(b, reverse=True)

# 첫 번째 인덱스부터 k번 비교
for i in range(k):
    if sorted_a[i] < sorted_b[i]:  # a의 원소가 b의 원소보다 작다면 스왑한다
    # a의 가장 작은 값과 b의 가장 큰 값을 스왑
        sorted_a[i], sorted_b[i] = sorted_b[i], sorted_a[i]
    else:
        continue
# 리스트 a의 합 반환
print(sum(sorted_a))

5 3
1 2 5 4 3
5 5 6 6 5
26

In [36]:
def array_change():

    n, k = map(int, input().split())

    a = list(map(int, input().split()))
    b = list(map(int, input().split()))
    sorted_a = sorted(a)
    sorted_b = sorted(b, reverse=True)

    # 첫 번째 인덱스부터 k번 비교
    for i in range(k):
        if sorted_a[i] < sorted_b[i]:  # a의 원소가 b의 원소보다 작다면 스왑한다
        # a의 가장 작은 값과 b의 가장 큰 값을 스왑
            sorted_a[i], sorted_b[i] = sorted_b[i], sorted_a[i]
        else:
            # continue
            break  # 더 작다면 뒤의 값들을 비교하지 않아도 된다

    # 리스트 a의 합 반환
    return sum(sorted_a)

array_change()

8 6
0 8 7 2 5 6 7 8
1 5 7 9 2 4 5 6

58

got it! -20.12.25.Fri-